<div class="everything">
  <div class="title">
    <div class="logo-title">
      <img id="logo-title" src="image/logo.jpg" alt="" />
      <h1>Famazon</h1>
    </div>
    <p>All what you need to know about us</p>
  </div>

  <div class="row row-cols-1 row-cols-lg-2 row-cols-sm-1 container1">
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="image/delevery.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="image/happy.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="image/contact.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="text">
      <h3>
        Welcome to <span id="famazon">Famazon</span>, Your Trusted Online
        Shopping Destination
      </h3>
      <hr />
      <p>
        At Famazon, we belive that shopping shuold be more than just a
        transaction, it shuold be a experience. That's why we've created an
        online store that's all about delevering convenience, quality and value
        right to your doorstep. Whether you're looking for the latest, in tech
        gadgets, stylish apparel, or household essentials, Famazon is your go-to
        online marketplace.
      </p>
      <p>
        <span class="mision">Our Mision</span> is very simple: to make shopping
        easy , and enjoyable, and accessible for everyone. we are commited to
        offering a wide variety of high-quality products at competitive prices,
        while delevering top-noch customer service.
      </p>
    </div>
  </div>

  <img id="logo" src="image/logo.jpg" alt="" />
  <h3 id="second-title">What set us apart</h3>

  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 apart">
    <div>
      <i class="fa-solid fa-truck truck"></i>
      <p>
        <span class="intro">Fast & Realiable Delevery: </span> We know how
        important it is to recive your order on time. That's why we work with
        trusted logistics partners to ensure fast, secure and realible shipping
        to your location
      </p>
    </div>
    <div>
      <i class="fa-solid fa-headset headset"></i>
      <p>
        <span class="intro">Affordable Prices:</span> We belive that great
        products shuoldnt come with a hefty price tag. Our competitive prices
        allows you to get more for less, witout compromising on quality.
      </p>
    </div>
    <div>
      <i class="fa-solid fa-money-bill-1-wave money"></i>
      <p>
        <span class="intro">Customer Support:</span> Our dedicated support team
        is always here to help you. Whether you have a question about a product
        or need assistance with your order, we're just a click or a call away
      </p>
    </div>
  </div>

  <div class="contact">
    <h5>Feel Free To Contact Us:</h5>
    <ul>
      <li><b>Email:</b> support-famazon.com</li>
      <li><b>Phone:</b> 1-800-FAMAZON</li>
      <li>
        <b>Social media:</b> choose one of the links below for the latest
        updated and promotions
      </li>
    </ul>
  </div>
</div>
