<div id="carouselExample" class="carousel slide image">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="image/gamingHero.jpg" class="d-block w-100" alt="..." />
      <p class="p1">Everything for <span class="tag">Gamers</span></p>
    </div>
    <div class="carousel-item">
      <img src="image/beautyHero.jpg" class="d-block w-100" alt="..." />
      <p class="p1">Everything for <span class="tag">Ladies</span></p>
    </div>
    <div class="carousel-item">
      <img src="image/toyHero.jpg" class="d-block w-100" alt="..." />
      <p class="p1">Everything for <span class="tag">Kids</span></p>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-lg-2 row-cols-sm-1">
    <div><img src="image/delevery.webp" alt="home-img" /></div>
    <div>
      <h2>
        <img class="logo" src="image/logo.jpg" alt="photo of logo" />
        <span>Famazon</span>
      </h2>
      <h4>We have everything you need</h4>
      <p>
        Famazon is guided by four principles: customer obsession rather than
        competitor focus, passion for invention, commitment to operational
        excellence, and long-term thinking.
      </p>
      <p>
        Famazon strives to be Earth’s most customer-centric company, Earth’s
        best employer, and Earth’s safest place to work
      </p>
      <p>
        Working to earn and keep our customers’ trust is the single biggest
        driver of Famazon’s Day 1 approach. Famazon’s decision-making process
        asks employees to consider whether an action is a one-way
        door—consequential and nearly irreversible—or a two-way door, easy to
        change course and go back. Discover more about who we are through our
        Annual Letters to Shareholders from 1997 through today.
      </p>
      <p>
        We hold ourselves and each other accountable for demonstrating the
        Famazon Leadership Principles through our actions every day. Our
        Leadership Principles describe how Famazon does business, how leaders
        lead, and how we keep the customer at the center of our decisions. Our
        unique Famazon culture, described by our Leadership Principles, helps us
        relentlessly pursue our mission of being Earth’s most customer-centric
        company, best employer, and safest place to work.
      </p>
    </div>
  </div>
</div>
<div class="extra">
  <h3>why to chose us:</h3>
  <p class="text">
    We offer a diverse range of products across multiple categories to cater
    different customer needs
  </p>
  <div
    class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 extraThree"
  >
    <div>
      <h4>Quality Assurance</h4>
      <p>
        We emphasize the quality of the products by showcasing high costumer
        ratings, trust brand, or a quality control process.
      </p>
    </div>
    <div>
      <h4>Fast and Realiable Shipping</h4>
      <p>
        We promote quick and realiable shipping services around the globe, with
        posible free delivery or tracking options for convenience.
      </p>
    </div>
    <div>
      <h4>Exclusive Offers & Discounts</h4>
      <p>
        We offer special promotions, members-only discounts, or loyalty rewards
        to encourage repeat costumers
      </p>
    </div>
  </div>
</div>
